body{
    height: 100vh;
    background-color: #1f2937;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
}

.title_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
}

.logo_text{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 600;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
    padding: 10px;
}

.hero_container{
    display: flex;
    font-size: 18px;
    color: #e5e7eb;
    justify-content: space-between;
    margin-top: 50px;
    padding: 50px 0px;
    padding-left: 200px;
    padding-right: 200px;
    
}

.hero_title{
    margin-top: auto;
    margin-bottom: 0;
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.hero_description{
    flex-wrap: wrap;
    width: 500px;
    margin-top: 0;
}

.logo{
    display: flex;
    width: 500px;
    border-radius: 30px;
    height: auto;
}

.button{
    background-color: #3882f6;
    padding: 8px 30px;
    border-radius: 30px 10%;
    color: white;
    font-weight: bold;
}

.information_container{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 100px;
}

.cats_container{
    display: flex;
    gap: 50px;
    align-items: center;
    flex-wrap: wrap;
   
}

img{
    width: 150px;
    height: 150px;
    border-radius: 30px;
    border-color: orange;
    border-style: solid;
}

.cats{
    display: flex;
    flex-wrap: wrap;
    width: 150px;
    flex: auto;
}

h1{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding: 30px 0px;
}

.info_text{
    text-align: center;
    padding-top: 5px;
}

.quote_container{
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding-left: 200px;
    padding-right: 200px;
    justify-content: center;
    align-items: flex-end;

}

.quote_text{
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
    padding: 100px 200px 0;
    text-align: center;
    
}

.quote_author{
    font-size: 20px;
    font-weight: bolder;
    padding-top: 5px;
    padding-bottom: 100px;
    padding-right: 200px;
    
}